<section class="footer">
    <footer>
        <div class = "footer_div">  
        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

         

          {% if site.social.github %}
          <!-- Github -->
          <li class="navigation__item_social">
            <a href="https://github.com/longweitao" title="@{{site.social.github}} 的 Github" target="_blank">
              <i class='social fa fa-github fa-2x'></i>
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %}
          
         

          </ul>
        </nav>

        </div>

        <div class = "footer_div">  
           <p class="copyright text-muted">
            Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} Theme by <a href="https://longweitao.github.io/">vincent</a> 
            </p>
        	<div align="right">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

          <!-- 访问统计 -->
          </span>待到秋来九月八，我花开后百花杀
          </span>

        </div>
        <div>
    </footer>
</section>
